.lighted {
  transition: box-shadow 0.5s ease-in-out;
}

.lighted-bg .lighted-bg2 {
  background: initial;
  transition: background 2s ease-in-out;
}

.lighted-cover {
  transition: opacity 2s ease-in-out;
}

.drag-me-hint {
  position: absolute;
  top: 370px;
  right: 100px;
  color: white;
  animation: bounce 1.5s 1s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

@keyframes faster-bounce {
  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-faster-bounce {
  animation: faster-bounce 0.5s infinite;
}

.ant-timeline-item-tail {
  background-color: #52525b;
}

.ant-timeline-item-head {
  background-color: transparent !important;
}

.ant-timeline-item-label {
  padding-right: 15px;
}

.ant-timeline-item-content {
  width: 70% !important;
  max-width: none;
}

.ant-timeline-item-content {
  padding-left: 20px;
}

/* custom antd tabs */
.ant-tabs-tab {
  font-weight: 500 !important;
  color: gray !important;
  transition: color 0.3s !important;
}

.ant-tabs-tab.ant-tabs-tab-active {
  font-weight: bold !important;
  color: white !important;
  background-color: transparent !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: white !important;
}

.ant-tabs-ink-bar {
  background-color: white !important;
}

.ant-tabs-nav::before {
  border-bottom: 2px solid #52525b !important;
}

div.react-pdf__Page__textContent {
  display: none !important;
}

.ant-tabs-content-holder {
  background-color: black !important;
  min-height: 80vh !important;
}
